<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="style.css">
  </head>
  <body>


    <div id="app">

      <div v-if="books.length > 0">

        <table>
          <thead>
            <th>
              <td>书籍名称</td>
              <td>日期</td>
              <td>价格</td>
              <td>数量</td>
              <td>操作</td>
            </th>
          </thead>
          <tbody>
            <th>
              <tr v-for="(item,index) in books">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.date}}</td>
                <td>{{item.price | showPrice }}</td>
                <td>
                  <button @click="decrement(index)" :disabled="item.count <= 1">-</button>
                  {{item.count}}
                  <button  @click="increment(index)">+</button>
                </td>

                <td> <button @click="removed(index)">移除</button></td>

              </tr>
            </th>
          </tbody>
        </table>

        <h2 >总价格：{{totalPice | showPrice }}</h2>
      </div>

      <h2 v-else>购物车为空</h2>

    </div>

    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>
